@tailwind base;
@tailwind components;
@tailwind utilities;


.card {
  width: 300px;
}

.photos_slide .swiper-wrapper {
  padding-bottom: 20px;
  height: 320px;
}
.photos_slide .swiper-slide {
  width: 100%;
  height: 300px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.photos_slide .swiper-slide img {
  height: calc(100% - 20px) !important;
  width: auto;
}
.photos_slide .swiper-pagination {
  bottom: 10px;
}
.photos_slide .swiper-pagination .swiper-pagination-bullet-active {
  background: #0C3399;
}
@media only screen and (max-width: 750px) {
  .photos_slide .swiper-wrapper {
      padding-bottom: 5.3333333333vw;
      /* height: 125.3333333333vw; */
  }
  .photos_slide .swiper-slide {
      height: 250px;
  }
  .photos_slide .swiper-slide img {
      max-height: calc(100% - 20px) !important;
      width: auto;
  }
  .photos_slide .swiper-pagination {
      bottom: 10px;
  }
  .photos_slide .swiper-pagination .swiper-pagination-bullet-active {
      background: #0C3399;
  }
}

